<section class="faq-section">

    <div class="faq-container">

        <h2 class="faq-title">
            Perguntas frequentes
        </h2>

        <!-- ITEM -->

        <div class="faq-item">

            <button class="faq-question">

                Holter 7 dias dói?

                <span class="faq-icon">+</span>

            </button>

            <div class="faq-answer">
                <p>
                    Não. O exame é não invasivo e o dispositivo foi desenvolvido para uso confortável durante longos períodos.
                </p>
            </div>

        </div>

        <!-- ITEM -->

        <div class="faq-item">

            <button class="faq-question">

                Posso trabalhar durante o exame?

                <span class="faq-icon">+</span>

            </button>

            <div class="faq-answer">
                <p>
                    Sim. O objetivo do monitoramento é acompanhar o paciente durante sua rotina habitual.
                </p>
            </div>

        </div>

        <!-- ITEM -->

        <div class="faq-item">

            <button class="faq-question">

                O exame funciona sem internet?

                <span class="faq-icon">+</span>

            </button>

            <div class="faq-answer">
                <p>
                    Sim. O dispositivo continua registrando os dados mesmo sem conexão momentânea.
                </p>
            </div>

        </div>

    </div>

</section>
