<div class="top-bar">
  Monitoramento cardíaco prolongado no conforto da sua casa
</div>

<header class="header">

  <div class="container header-content">

    <!-- LOGO -->
    <a href="index.html" class="logo">
      <img src="images/logo.png" alt="Pulse MD">
    </a>

    <!-- MENU -->
    <nav class="menu">
      <a href="exames.html">Exames</a>
      <a href="publicacoes.html">Publicações</a>
      <a href="#como-funciona">Como funciona</a>
    </nav>

    <!-- ACTIONS -->
    <div class="actions">

      <div class="social-icons">

        <a href="https://wa.me/555193662875" target="_blank">
          <i class="fab fa-whatsapp"></i>
        </a>

        <a href="https://www.linkedin.com/company/pulse-monitoriza%C3%A7%C3%A3o-domiciliar/" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>

        <a href="https://www.instagram.com/pulse_md" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>

      </div>

      <a class="btn-header"
         href="https://wa.me/555193662875?text=Olá,%20gostaria%20de%20agendar%20um%20monitoramento.">
         Agendar exame
      </a>

    </div>

  </div>

</header>
